﻿@model IEnumerable<FirstRepApp.Models.Movie>

@{
    ViewBag.Title = "Список элементов";
}

<h2>Index</h2>

<p>
    @using (Html.BeginForm("Index", "Movies", FormMethod.Get))
    {
    <p>
        Введите наименование для поиска: @Html.TextBox("searchString") 
        Выберите жанр для поиска: @Html.DropDownList("movieGenre", "All")
        <br />
        <br />
        <input type="submit" value="Поиск" />
    </p>
    }
</p>

<p>
    @Html.ActionLink("Создание нового элемента", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.ActionLink("Редактирование элемента", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Детали элемента", "Details", new { id = item.Id }) |
            @Html.ActionLink("Удаление элемента", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
